body {
  font-family: Barlow, sans-serif;
  font-weight: 900;
  padding-top: 150px !important;
  background: #222;
}

video {
  border-radius: 5px;
}

.emotion {
  top: -150px;
  text-shadow: 3px 3px 0 #000;
}
