<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      .wrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        width: 50%;
        height: 50%;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }
    </style>
  </head>

  <body>
    <div class="wrapper">
      <h1>Wojciech Melone</h1>
      <h3>Usługi sieciowe</h3>
      <h4>Projekt zaliczeniowy</h4>
      <a href="/secret">Zaczynajmy</a>
    </div>
  </body>
</html>
