<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .wrapper {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            margin: 0 auto;
            width: 50%;
            height: 50%;
            /* border: 1px solid red; */
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        form {
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <h1>Login</h1>
        <form action="/login" method="POST">
            <div>
                <label for="username">Enter username:</label>
                <input type="text" name="username" id="username" placeholder="Username">
            </div>
            <div>
                <label for="password">Enter password:</label>
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
            <button type="submit">Sign In</button>

        </form>
    </div>
</body>

</html>